table{
    display: block;
    width: 100%;
    overflow-y: scroll;
    max-height: 400px;
}

small_col{
  max-width: 50px;
}

med_col{
  max-width: 100px;
}

big_col{
  max-width: 150px;
}

th, td{
    width: 100px;
    text-align:left;
}

a.cust:link, a.cust:visited {
    background-color: #ff5733;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.cust:hover, a.cust:active {
    background-color: red;
}

button.cust{
    background-color: #ff5733;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

button.cust:hover, button.cust:active {
    background-color: red;
}


*{
   font-family:"Courier";
}

h1{
  font-size: 50px;
}

h4{
  font-style: 32px;
}

h5{
  font-style: 28px;
}

p{
  font-size: 17px;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
