{% extends 'base.html' %}

{% block content %}
<!-- Filtre Dublin Core -->
  <div class='container'>
    <div class="jumbotron">
      <h4>Paramètres de la recherche</h4>
      <hr class="my-4">
      <br />
      <div class="row">
       <div class="col-sm-4">

         <label for="keywords"><p>Mots clés :</p></label>
         <input class="form-control" placeholder="ex. Mona Lisa" id="keywords">
       </div>

      </div>
      <br />
      <div class="row">
       <div class="col-sm-4">
         <label for="from"><p>De :</p></label>
         <input class="form-control" id="from" placeholder="ex. 1930">
       </div>
       <div class="col-sm-4">
         <label for="to"><p>À :</p></label>
         <input class="form-control" id="to" placeholder="ex. 1975">
       </div>
      </div>
      <br />
      <br />
      <br />
      <br />

      <h4>Paramètres avancés</h4>
      <hr class="my-4">
      <br />
      <div class="row">
       <div class="col-sm-4">
         <label for="creator"><p>Créateur :</p></label>
         <input class="form-control" id="creator" placeholder="ex. John Doe">
       </div>
       <div class="col-sm-4">
         <label for="date"><p>Date de création :</p></label>
         <input class="form-control" id="date" placeholder="aaaa">
       </div>
      </div>
      <br />
      <div class="row">
       <div class="col-sm-4">
         <label for="items_type"><p>Type de document :</p></label>
         <input class="form-control" id="items_type" placeholder="ex. TEXT">
       </div>
       <div class="col-sm-4">
         <label for="items_dataProvider"><p>Provider :</p></label>
         <input class="form-control" id="items_dataProvider" placeholder="ex. Centre Georges Pompidou">
       </div>
      </div>
    </div>
  </div>

  <div class="container">
        <div class="row">

          <!-- Clé Publique -->
          <div class="col">
            <div class="jumbotron">
              <h4>Authentification</h4>
              <hr class="my-4">
              <br />
              <label for="key"><p>Clé publique :</p></label>
              <input type="text" class="form-control" id="key">
            </div>
          </div>

          <!-- Submit -->
          <div class="col">
            <div class="jumbotron">
              <h4>Exécuter la requête</h4>
              <hr class="my-4">
              <br />
              <div class="row">
                <div class="col">
                  <form method='post' id="taskForm">
                    <button class="cust" type="button" id="taskButton">Exécuter</button>
                  </form>
                  <!-- <a class="cust" href="/">Recommencer</a> -->
                  <div id="Results"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
